.container {
  background: #f9f9f9;
  padding-left: 17%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.large_container {
  padding-left: 7%;
}

.card {
  img {
    width: 100%;
    border-radius: 5px;
  }
  h2 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 5px 0;
  }
  h3 {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin: 6px 0;
  }
  p {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .large_container,
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
