.recommended {
  flex-basis: 30%;
}
.side_video_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  img {
    flex-basis: 49%;
    width: 50%;
  }
}

.vid_info {
  flex-basis: 49%;
  margin-left: 10px;

  h4 {
    font-size: 13px;
    margin-bottom: 5px;
  }

  p {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .recommended {
    flex-basis: 100%;
  }
}
